<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="CR.CharitiesOnline.log.xml"/>
    <threshold value="INFO" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <!--<layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout> />-->
    <layout type="log4net.Layout.XMLLayout" />
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <!-- ndc is the nested diagnostic context http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html -->
      <conversionPattern value="%date{ABSOLUTE} %-5level logging from %logger run by [%username] Host:=%property{log4net:HostName} Domain:=%appdomain - %message %property{ExceptionMessage} %property{ExceptionType} %property{ExceptionStackTrace} %property{LogSource}%newline" />      
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <appender-ref ref="RollingFileAppender"/>
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>