<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="env" value="local"/>
		<add key="TempFolder" value="C:\Temp\"/>
		<add key="PasswordMethod" value="MD5" />
		<add key="errordebug" value="off"/>
		<add key="BatchSize" value="2"/>
		<add key="ReasonableWaitInMinutes" value="10"/>
		<add key="RestartAfterInMinutes" value="60"/>
		<add key="SubmissionRequestFilePrefix" value="LocalRequestMessage"/>
		<add key="SubmissionPollFilePrefix" value="LocalPollMessage"/>
		<add key="DataRequestFilePrefix" value="LocalDataRequestMessage"/>
		<add key="DiskPolling" value="true"/>
		<add key="SendURILocal" value="http://localhost:5665/LTS/LTSPostServlet"/>
		<!-- Debug counter polling -->
		<!--<add key ="SendURILocal" value="http://localhost/rest/index.php"/>-->
		<add key="SendURIDev" value="https://secure.dev.gateway.gov.uk/submission"/>
		<add key="PollURILocal" value="http://localhost/rest/index.php"/>
		<add key="PollURIDev" value="https://secure.dev.gateway.gov.uk/poll"/>
		<add key="SendURILive" value="https://secure.gateway.gov.uk/submission"/>		
		<add key="PollURILive" value="https://secure.gateway.gov.uk/poll"/>
		<add key="ChannelVersion" value="2.0"/>
		<add key="ChannelProduct" value="Comic Relief GAIL"/>
		<add key="ChannelURI" value="2420"/>
    <add key="GovTalkDetailsKey" value="AA12345"/>
    <add key="GovTalkDetailsKeyType" value="CHARID"/>
    <!--<add key="GovTalkDetailsKey2" value="CD23456"/>
    <add key="GovTalkDetailsKey2Type" value="ILRID"/>-->
		<add key="GovTalkDetailsTargetOrganistion" value="HMRC"/>
		<add key="SenderID" value="323412300001"/>
		<add key="SenderAuthenticationMethod" value="clear"/>
		<add key="SenderAuthenticationRole" value="principal"/>
		<add key="SenderAuthenticationValue" value="testing1"/>
		<add key="MessageDetailsClass" value="HMRC-CHAR-CLM"/>
		<add key="MessageDetailsQualifier" value="request"/>
		<add key="MessageDetailsFunction" value="submit"/>
		<add key="MessageDetailsTransformation" value="XML"/>
		<add key="MessageDetailsGatewayTest" value="0"/>
		<add key="GovTalkMessageEnvelopeVersion" value="2.0"/>
		<add key="IRheaderKey" value="AB12345"/>
		<add key="IRheaderPeriodEnd" value="2014-10-31"/>
		<add key="IRheaderDefaultCurrency" value="GBP"/>
		<add key="IRheaderSender" value="Individual"/>
		<add key="R68AuthOfficialForeName" value="John"/>
		<add key="R68AuthOfficialSurname" value="Smith"/>
		<add key="R68AuthOfficialPostcode" value="AB12 3CD"/>
		<add key="R68AuthOfficialPhone" value="01234 567890"/>
		<add key="R68Declaration" value="yes"/>
		<add key="R68ClaimOrgName" value="My Organisation"/>
		<add key="R68ClaimHMRCRef" value="AA12345"/>
		<add key="R68RegulatorName" value="CCEW"/>
		<add key="R68RegulatorNumber" value="A1234"/>
		<add key="R68ClaimAdjustmentSpecified" value="false"/>
		<add key="R68ClaimAdjustmentAmount" value="0.00"/>
		<add key="GASDSConnectedCharities" value="no"/>
		<add key="GASDSCommBldgs" value="no"/>
		<add key="OtherIncPayer" value=""/>
		<add key="OtherIncOIDate" value=""/>
		<add key="OtherIncGross" value=""/>
		<add key="OtherIncTax" value=""/>
</appSettings>
</configuration>